*{
    direction: rtl;
    
}
body{
    background-color: #f3f3f3;
}
button:disabled{
    cursor: not-allowed;
    background: rgb(206, 137, 137);
}
::selection{
    background: rgb(247, 245, 155);
    color: black;
}
